#ls_table_section {
	float:right;
	width: 400px;
	margin: 0;
	background: #fff url(../img/shade.jpg) repeat-x center bottom;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-top: 1px solid #fff;
	padding: 19px 0 79px 9px;
}

#ls_table {
	border-collapse:collapse;
	width: 96%;
}

#ls_table td {
	border-bottom: 1px solid #abc;
	margin-left: 1em;
}

article div { 
  margin: 10px 0;
}

label {
  float: left;
  display: block;
  width: 125px;
  line-height: 32px;
}
.d {
	width: 96px;
} 
.h {
	width: 48px;
} 
.prev, .next {
	width: 24px;
	background-repeat:no-repeat;
	background-size: 100%;
	border: 0px;
}
.prev {
	background-image: url('../img/prev.jpg');
	
}
.next {
	background-image: url('../img/next.jpg');
}
#send {
	background-image: url('../img/send.png');
	border: #abc solid 1px;
}
